extends templates/_default

block content
  section.landing
    p
      hello world!
  section.about-us
    p
      hello world!
  section.statistics
    p
      hello world!
  section.services
    p
      hello world!
  section.partners
    p
      hello world!
  section.clients
    p
      hello world!
  section.our-team
    p
      hello world!
  section.questions
    p
      hello world!
  section.contact-us
    p
      hello world!
